MONGODB_URI=mongodb+srv://aggarwalkrishna0307_db_user:30ImwzkY0Eve1v1g@cluster0.oidhqhz.mongodb.net/element-connected?retryWrites=true&w=majority
PORT=5000
TLS_ALLOW_INVALID=true
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
RESET_PASSWORD_LINK_BASE=https://yourapp.com/reset-password
